.form {display:inline-block;
    width: 100%;}

    .form-row {
                display: inline-block;
                width: 100%;
        } 
        
        .form-row + .form-row {
            margin-top: 40px;
        }
        
        label {
            display: inline-block;
            width: 100%;
            font-weight: 700;
            font-size: 14px;
            line-height: 15px;
            font-weight: 500;

        }

        input {
            display: inline-block;
            width: 100%;
            border: none;
            font-size: 16px;
            border-bottom: 1px solid #777;
            padding-top: 5px;
            color: #000
        
        }

        
        

        .form-row > span {
            display: inline-block;
            float: left;
            padding: 10px;
            line-height: 20px;
            font-size: 20px;
            margin-left: 10px;

        }

        .form-row > a {
            display: inline-block;
            float: left;
            padding: 10px;
            line-height: 20px;
            font-size: 20px;
    
         }
